@import url(reset.css);

.container {
    max-width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, .5);
}
header h1 {}
header nav {}
header nav ul {
    display: flex;
}
header nav ul li {}
header nav ul li a {
    padding: 0 10px;
}
header select {}
header select option {}